spring:
  datasource:

    password: postgres
    url: jdbc:postgresql://localhost:5432/car
    username: postgres
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    show-sql: true
